/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
button,
input,
select,
h3 a,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #ed1b2e;
}

a:hover {
    color: black;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

audio {
width: 100%;
height: 50px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
    font-family: h;
    src: url('../fonts/HelveticaNeueLTStd-Cn.otf');
}
@font-face{
    font-family: hb;
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf');
}
@font-face{
    font-family: hc;
    src: url('../fonts/HelveticaNeueLTStd-Cn.otf');
}
@font-face{
    font-family: hmc;
    src: url('../fonts/HelveticaNeueLTStd-MdCn.otf');
}
@font-face{
    font-family: hbc;
    src: url('../fonts/HelveticaNeueLTStd-BdCn.otf');
}
@font-face {
	font-family: hci;
    src: url('../fonts/HelveticaNeueLTStd-CnO.otf');
}
@font-face {
	font-family: hbi;
    src: url('../fonts/HelveticaNeueLTStd-BdIt.otf');
}
@font-face {
	font-family: hmci;
    src: url('../fonts/HelveticaNeueLTStd-MdCnO.otf');
}
html {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
body {
    background: #fff;
    font-size: 22px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: hc;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
#container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: 1s linear;
}
.page {
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 60px;

}

body {
    background: #fff;
}

/* lobby */
ul {
    list-style: none;
    padding: 1em;
    margin: 0;
}
#lobby li {
    margin-bottom: 1em;
}
.thumb {
    height: 5em;
    width: 5em;
    margin-right: 1em;
    cursor: pointer;
}
.thumb:active, .thumb:hover, .thumb:focus {
    opacity: .75;
}



/* game */
#game {
  padding-top: 5em;
  text-align: center;
}
#game em {
    color: #999;
    font-size: .75em;
}
/* avatars in game */

#game .avatar {
    -webkit-mask-box-image: -webkit-radial-gradient( center,ellipse cover, rgba(0,0,0,1) 68%, rgba(0,0,0,0) 69.5%);
    background: #4ecc4e;
    width: 76px;
    height: 76px;
    position: relative;
}
.spinner-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border-width: 38px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #fff;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: inner 15s linear infinite;
}
.spinner-mask {
    position: absolute;
    top: 1px;
    left: 0px;
    background: transparent;
    border-width: 38px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #4ecc4e;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: mask 15s linear infinite;
}
.spinner-mask:after, .spinner-mask-two {
    display: block;
    content: '';
    opacity: 0;
    position: absolute;
    top: 1px;
    left: 0px;
    background: transparent;
    border-width: 38px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #fff;
    -webkit-transform: rotate(45deg);
    -webkit-animation: mask-two 15s linear infinite;
}

@-webkit-keyframes inner {
    0% {
      -webkit-transform: rotate(-45deg);
    }
    25% {border-left-color:transparent;}
    26% {
      border-left-color:  #fff;
    }
    50% {border-bottom-color:transparent;}
    51% {
      border-bottom-color:  #fff;
    }
    75% {border-right-color:transparent;}
    76% {
      border-right-color:  #fff;
    }
    100% {
      -webkit-transform: rotate(315deg);
      border-left-color:  #fff;
      border-bottom-color:  #fff;
      border-right-color:  #fff;
    }
  }
  
   @-webkit-keyframes mask {
    0% {
      -webkit-transform: rotate(-45deg);
    }
    75% {
      -webkit-transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes mask-two {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    26% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes whee {
    from {
      -webkit-transform: rotate(0deg);
      -webkit-filter: sepia() hue-rotate(0deg) contrast(95%);
    }
    to {
      -webkit-transform: rotate(360deg);
      -webkit-filter: sepia() hue-rotate(360deg) contrast(95%);
    }
  }

#game .avatar img {
    border-radius: 999px;
    height: 61px;
    width: 61px;
    position: absolute;
    left: 50%;
    margin-left: -31px;
    margin-top: 7px;
    top: 0;
}

/* button */


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}
.button {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
  text-decoration: none;
  color: #DD6C4F;
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 50px auto;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 10px 22px #aaa, inset 0px 8px 22px #fff;
  border: solid 1px transparent;
}

.button:after { content: "\e071"; } 

.button:focus { 
  outline: none;
}


.button:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.button:active {
  box-shadow: inset 0px 32px 64px #ddd;
}

.button.off {
  box-shadow: inset 0px 32px 64px #ddd;
}
.button:after {
    color: #ff6162;
}
.button.off:after {
    color: #4ecc4e;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.clear { clear: both; }
/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


